---
import { YouTube } from "../components/icons/index";
const YOUTUBE_API_KEY = "AIzaSyBXPTVSjvLjrqVa-7uz8LpoOnpDq1bQOLQ";
const YOUTUBE_CHANNEL_ID = "UCikk0dXuvTMDVDmXVAhwAAw";
const GET_CHANNEL_DATA_URL = `https://youtube.googleapis.com/youtube/v3/channels?part=statistics&id=${YOUTUBE_CHANNEL_ID}&key=${YOUTUBE_API_KEY}`;

const response = await fetch(GET_CHANNEL_DATA_URL);
const data = await response.json();

const suscribers = data.items[0].statistics.subscriberCount;
const videos = data.items[0].statistics.videoCount;
---

<a
  href="https://youtube.com/@leonardof02"
  class="border border-default p-3 flex flex-col md:gap-2 w-fit rounded-lg hover:bg-zinc-800 right-0 absolute -bottom-8 gap-0.5 md:-bottom-20 bg-main"
>
  <div class="flex gap-5 items-center justify-start font-title">
    <img src={YouTube.src} alt={"YouTube suscribers"} class="w-6 h-6" />
    <h4 class="font-title text-xl font-bold">Leo Códigos</h4>
  </div>
  <p class="text-secondary text-start text-sm">
    https://youtube.com/@leonardof02
  </p>
  <div class="flex gap-2 items-center justify-between">
    <p class="text-start font-mono text-xs">{videos} videos</p>
    <p class="text-start font-mono text-xs">{suscribers} suscriptores</p>
  </div>
</a>